html, body {
    margin: 0%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2026, #203a4a, #2c5365);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #0f2027;
    padding: 15px 0;
    top: 0;
    box-shadow: 0 2px 10px rgb(255, 255, 255);
    position: sticky;
    z-index: 1000;
}

.permbajtjaheader {
    margin: 0 auto;
    padding: 0 20px;
    max-width: auto;
    display: flex;
    left: 0;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: auto;
    max-height: 50px;
    display: block;
}

.menujaenavigimit {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 70px;
}

.menujaenavigimit li a {
    font-size: 25px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s ease;
}

.menujaenavigimit li a:hover {
    color: rgb(0, 209, 178)
}
.kkontakt {
    padding: 10px 20px;
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3 ease;
    border-radius: 5px;
}

.kkontakt:hover {
    background-color: rgb(0, 184, 156);
}

.faqjarrethmeje {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: rgb(128, 128, 128);
}

.permbajtja {
    flex:1;
}

.faqjaedizajneve {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.qender {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.xhamefekt {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, o.3);
    padding: 15px 30px;
    display: block;
}

.animacion {
    opacity: 0;
    animation: shfaq 0.8s ease-out forwards;
}

@keyframes shfaq {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ani1 { animation-delay: 0.5s}
.ani2 { animation-delay: 1.5s}
.ani3 { animation-delay: 2.5s}
.ani4 { animation-delay: 3.5s}
.ani5 { animation-delay: 3.7s}
.ani6 { animation-delay: 3.9s}
.ani7 { animation-delay: 4.1s}
.ani8 { animation-delay: 4.3s}
.ani9 { animation-delay: 4.5s}
.aninextpage {
    animation-delay: 3.7s;
}

.bqender {
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 35px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family:'Segoe UI' sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.6s ease;
}

.bqender:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1);
    transition: transform 0.6s cubic-bezier(0.26, 1, 0.6, 1), box-shadow 0.6s ease, background 0.6 ease;
}

.kolonat {
    margin: 40px auto;
    width: 95%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.efektxhami {
    width: 95%;
    height: 400px;
    padding: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    transition: transform 0.6s cubic-bezier(0.26, 1, 0.26, 1), box-shadow 0.6s eae, background 0.6s ease;
}

.efektxhami:hover {
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
}

.efekxhami::-webkit-scrollbar {
    width: 7px;
}

.efektxhami::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.rrjeshtikontakteve {
    margin: 30px auto;
    width: 95%;
    max-width: 600px;
    gap: 30px;
    display: flex;
    justify-content: center;
}

.butkontaktit {
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 15px;
    flex: 1;
    transition: 0.6s ease;
}

.butkontaktit:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-5px);
}

@media (max-width: 992px) {
    .kolonat {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .kolonat {
        grid-template-columns: 1fr;
    }
}

.rrjeshtikontakteve {
    flex-direction: row;
    font-size: 12px;
}

.anid1 { animation-delay: 0.6s;}
.anid2 { animation-delay: 0.8s;}
.anid3 { animation-delay: 1.0s;}
.anid4 { animation-delay: 1.2s;}
.anid5 { animation-delay: 1.4s;}
.anid6 { animation-delay: 1.6s;}
.anid7 { animation-delay: 1.8s;}
.anid8 { animation-delay: 2.0s;}
.anid9 { animation-delay: 2.2s;}
.anid10 { animation-delay: 2.4s;}
.anid11 { animation-delay: 2.6s;}
.anid12 { animation-delay: 2.8s;}

.portofoli {
    margin: 40px auto;
    width: 90%;
    max-width: 1500px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dizajnet {
    height: 350px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255. 255. 255, 0.1);
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: transform 0.8s cubic-bezier(0.23, 1, 0.37, 1), box-shadow 0.8s ease;
}

.dizajnet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.9s ease;
}

.dizajnet:hover {
    cursor: pointer;
    transform: scale(1.05);
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
}

.dizajnet:hover img {
    transform: scale(1.15);
}

@media (max-width: 768px) {
    .portofoli {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .dizajnqender {
        grid-column: auto;
    }
}

.dizajnet {
    cursor: zoom-in;
}

#lightbox-img {
    animation: zoomIn 0.4s ease-out;
}

@keyframes zoomIn {
    from { transform: scale(0.7); opacity: 0;}
    to { transform: scale(1); opacity: 1;}
}

main {
    flex: 1;
}

.footer {
    width: 100%;
    margin-top: auto;
    padding: 40px 0 20px 0;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 26, 26);
    font-family: Arial, sans-serif;
}

.permbajtjafooter {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.tekstet {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.tekstet h3 {
    margin-bottom: 20px;
    color: rgb(0, 209, 178);
    text-align: left;
}

.tekstet h4 {
    margin-bottom: 20px;
    color: rgb(0, 209, 178);
    text-align: center;
}

.tekstet h5 {
    margin-bottom: 20px;
    color: rgb(0, 209, 178);
    text-align: right;
}

.tekstet p {
    font-size: 14px;
    line-height: 1.6;
}

.tekstet ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.tekstet ul li {
    margin-bottom: 10px;
    text-align: center;
}

.tekstet ul li a {
    color: rgb(187, 187, 187);
    text-decoration: none;
    transition: 0.3s;
}

.tekstet ul li a:hover {
    color: rgb(255, 255, 255);
    padding-left: 5px;
}

.linqet a {
    margin-bottom: 8px;
    text-align: right;
    color: rgb(187, 187, 187);
    display: block;
    text-decoration: none;
}

.linqet a:hover {
    color: rgb(187, 187, 187);
}

.fundi {
    margin-top: 30px;
    padding-top: 20px;
    font-size: 13px;
    color: rgb(119, 119, 119);
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #333;
}

.blink {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    min-width: fit-content;
    padding: 15px, 40px;
    display: inline-block;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.blqender {
    width: 100%;
    margin: 60px 0px;
    display: flex;
    justify-content: center;
}